.symbol {
  font-size: 50px;
}

.symbol_correct {
  color: green;
}

.word_incorrect {
  background: red;
  color: #fff;
}

div.card {
  height: 200px;
  width: 600px;
}

.status_time {
  margin-top: 30px;
}